<div class="container">
    <div class="vertical-align center-align">
      <div id="home"></div>  
      <div class="fullpage">
          <div class="title">
            <h1>Phil Kipkemboi</h1>
  
            <hr>
  
            <h6><p>A software developer based in Nairobi</p></h6>
          </div>
        </div>
    </div>

    <div id="about" class="margin"></div>
    <div>
      <h4>About</h4>
      <div class="row">
          <div class="col s6">
              <img class="responsive-img" src="https://images.unsplash.com/photo-1547928575-614d973bad56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="col s6">
            <p class="vertical-align">I am an android developer who is passionate about creating mobile applications that are driven by the user's needs and experience. I get the best feeling when the applications I build are simple, elegant and easy to use.</p>
            <p>I am open to positions that will challenge my capabilities and help me improve on my skills.</p>
          <div class="card-action">
            <a href="https://drive.google.com/open?id=1LkfLLpa5jph66dwIzBlZ_ZMdZSquP2m2NiGM49vHEhg" target="_blank">VIEW MY CV</a>
          </div>
          </div>
        </div>
    </div>

    <div id="projects" class="margin"></div>
    <div id="projects">
      <h4>Projects</h4>
      <br>
      
      <h5>Mobile Development</h5>

      <div class="row">
        <div class="col s6 l6">
            <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="assets/img/7result.jpg">
              </div>
              <div class="card-content">
                  <span class="card-title">Parking Lots</span>
                <p>This android application shows a map with the user's current location at the center. The user can also search for any location. The user can then search for parking lots within a one kilometer radius of their location or the searched location.</p>
                <br>
                <p>The technologies used are:</p>
                <br>
                <div class="rollovericons">
                    <a class="waves-effect waves-light btn">Java</a>
                    <a class="waves-effect waves-light btn">Android</a>
                    <a class="waves-effect waves-light btn">Firebase</a>
                </div>
              </div>
              
              <div class="card-action">
                <a href="https://github.com/verisence/Parking" target="_blank">View app</a>
              </div>
            </div>
        </div>

        <div class="col s6 l6">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/1. home.jpg">
              </div>
              <div class="card-content">
                  <span class="card-title">Recipes</span>
                <p class="pad">In this android application, the user can view recipes of different food types and also be linked to youtube for instructional videos.</p>
                <p>The app displays the latest recipes at the home screen and also the meal categories. The categories when clicked are arranged in a tab pager with each category showing the food in it.</p>
                <br>
                <p>The technologies used are:</p>
                <br>
                <div class="rollovericons">
                    <a class="waves-effect waves-light btn">Java</a>
                    <a class="waves-effect waves-light btn">Android</a>
                    <a class="waves-effect waves-light btn">Firebase</a>
                </div>
              </div>
              <div class="card-action">
                <a href="https://github.com/verisence/recipes" target="_blank">View app</a>
              </div>
            </div>
        </div>        
      </div>
    </div>
    <h5>Web Development</h5>

      <div class="row">
        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/gh.png">
                
              </div>
              <div class="card-content">
                  <span class="card-title">Github Search</span>
                <p>This is a website that is used to search for users in github and view their details such as the repositories, followers, location and the date they joined</p>
                <br>
                <p>The technologies used are:</p>
                <br>
                <div class="rollovericons">
                    <a class="waves-effect waves-light btn">Angular</a>
                    <a class="waves-effect waves-light btn">HTML5</a>
                    <a class="waves-effect waves-light btn">Materialize</a>
                  </div>
              </div>
              <div class="card-action">
                <a href="https://verisence.github.io/github-search/" target="_blank">View Site</a>
              </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/hero.png">
                
              </div>
              <div class="card-content">
                  <span class="card-title">Hero Squad</span>
                <p>This is a website that allows the user to create heroes and add them to squads. The squads and heroes can also be edited and deleted.</p>
                <br>
                <br>
                <p>The technologies used are:</p>
                <br>
                <div class="rollovericons">
                    <a class="waves-effect waves-light btn">Java</a>
                    <a class="waves-effect waves-light btn">Spark</a>
                    <a class="waves-effect waves-light btn">HTML5</a>
                    <a class="waves-effect waves-light btn">MDBootstrap</a>
                </div>
              </div>
              <div class="card-action">
                <a href="https://verisquad.herokuapp.com/" target="_blank">View Site</a>
              </div>
            </div>
        </div>
                
      </div>

      <br>
    <div id="contact" class="margin"></div>
    <div id="contact">
      <div class="vertical-align center-align">
          <h3>Contact Me</h3>
      
          <p>Email: <a href="mailto:kipkemboiphil@gmail.com">kipkemboiphil@gmail.com</a>
          </p>
          <p>Linkedin: <a href="https://www.linkedin.com/in/kipkemboi-phil" target=_blank>/kipkemboi-phil</a></p>
          <p>Twitter: <a href="https://www.twitter.com/kipkemboiphil">@kipkemboiphil</a></p>
          <p>Phone: (+254)798041997</p>
      </div>
    </div>

    
</div>


<router-outlet></router-outlet>