<div class="container">
    <div class="vertical-align center-align">
      <div id="home"></div>  
      <div class="fullpage">
          <div class="title">
            <h1>Phil Kipkemboi</h1>
  
            <hr>
  
            <h6><p>A software developer based in Nairobi</p></h6>
          </div>
        </div>
    </div>

    <div id="about" class="about">
      <h4>About</h4>
      <div class="row">
          <div class="col s4">
              <img src="https://images.unsplash.com/photo-1547928575-614d973bad56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            <div class="col s4 offset-s4">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi, rem aliquid praesentium consectetur quod, mollitia cupiditate debitis libero tempore sequi quisquam qui fuga. Blanditiis commodi itaque laudantium laboriosam ratione.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus sunt, corporis quam velit impedit assumenda quos itaque aut reprehenderit voluptates qui unde eius obcaecati asperiores rem placeat? Sapiente, optio!</p>
            </div>
      </div>
    </div>

    <div id="projects">
      <h4>Projects</h4>
      <br>
      <h5>Web Development</h5>

      <div class="row">
        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1547928575-614d973bad56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perspiciatis et facere fuga nobis ut vel? Necessitatibus, voluptatem! Delectus accusantium doloribus hic. Doloremque ipsam ducimus eius saepe voluptatem dolorem consequatur!</p>
              </div>
              <div class="card-action">
                <a href="#">View Site</a>
              </div>
            </div>
        </div>

        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1547928575-614d973bad56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perspiciatis et facere fuga nobis ut vel? Necessitatibus, voluptatem! Delectus accusantium doloribus hic. Doloremque ipsam ducimus eius saepe voluptatem dolorem consequatur!</p>
              </div>
              <div class="card-action">
                <a href="#">View Site</a>
              </div>
            </div>
        </div>        
      </div>

      <br>
      <h5>Mobile Development</h5>

      <div class="row">
        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1547928575-614d973bad56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perspiciatis et facere fuga nobis ut vel? Necessitatibus, voluptatem! Delectus accusantium doloribus hic. Doloremque ipsam ducimus eius saepe voluptatem dolorem consequatur!</p>
              </div>
              <div class="card-action">
                <a href="#">View Site</a>
              </div>
            </div>
        </div>

        <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="https://images.unsplash.com/photo-1547928575-614d973bad56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perspiciatis et facere fuga nobis ut vel? Necessitatibus, voluptatem! Delectus accusantium doloribus hic. Doloremque ipsam ducimus eius saepe voluptatem dolorem consequatur!</p>
              </div>
              <div class="card-action">
                <a href="#">View Site</a>
              </div>
            </div>
        </div>        
      </div>
    </div>

    <div id="contact">
      <div class="vertical-align center-align">
          <h3>Contact Me</h3>
      
          <p>Email: <a href="mailto:kipkemboiphil@gmail.com">kipkemboiphil@gmail.com</a>
          </p>
          <p>Linkedin: <a href="https://www.linkedin.com/in/kipkemboi-phil" target=_blank>/kipkemboi-phil</a></p>
          <p>Twitter: <a href="https://www.twitter.com/kipkemboiphil">@kipkemboiphil</a></p>
      </div>
    </div>

    
</div>


<router-outlet></router-outlet>