/* You can add global styles to this file, and also import other style files */
.title {
    margin-top: 20%;
    margin-bottom: 30%;
}

.fullpage {
    height: 120%;
}

.about {
    margin-top: 20%;
}